[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
cvxpy = "*"
slycot = "*"
control = "*"
mosek = "*"
cvxopt = "*"
pillow = "*"
munch = "*"
pyyaml = "*"
imageio = "*"
dict-deep = "*"
scikit-optimize = "*"
pandas = "*"
gym = "*"
torch = "*"
gpytorch = "*"
ray = "*"
casadi = "*"
pybullet = "*"
pytope = "*"
termcolor = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
